/* common */
ul {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

h1,
h2 {
  font-weight: 300;
}

p {
  margin: 0 auto;
}

img {
  width: 100%;
}

.textPrimary {
  color: #28a745;
}

.textSecondary {
  color: #0284d0;
}
.navbar {
  display: flex;
  align-items: center;
  background-color: black;
  color: white;
  justify-content: space-between;
  opacity: 0.8;
  /* common for navbar */
  height: 70px;
  position: fixed;
  top: 0px;
  width: 100%;
  /* 30px on right and left */
  padding: 0 30px;
}

.navbar ul {
  display: flex;
  margin: 0;
}

.link a:hover {
  opacity: 0.6;
  color: yellowgreen;
}
.navbar logo {
  font-weight: 400;
}

button {
  border: none;
}

.link button:hover {
  opacity: 0.6;
  color: yellowgreen;
}
.link {
  display: flex;
  align-items: center;
  color: #333;
  text-decoration: none;
  color: azure;
  text-decoration: none;
  margin: 0 5px;
  background-color: #28a745;
}
